

	body {
		font-family: 'Asul', serif;
		background-image: url("../img/beige_tile.png");
	  }
	#map {height: 500px; width: 100%}
	
	#header {
	    height: 100vh;
		min-height: 40em;
		background-image: url('../img/Bettera.jpg');
		background-size: cover;
		background-position: center center;
		color: #fff;
		text-align: center;
		cursor: default;
		margin-bottom: 20px;
	    display: flex;
		flex-direction: column;
	    align-items: center;
	    justify-content: center;
	}
	.example-col-flat-1 {
		background-color: #fff;
		border-radius: 4px;
		opacity: 0.7;
	}
	#header a {text-decoration: none; color: #fff;}
	#header .title {font-size: 3em;}
